<p>Dear <%= @user.name %>,</p>
<p>Your task "<%= @task.task_name %>" has missed the deadline.</p>
<p><a href="<%= @task_url %>">Click here to view your task to update if it is completed.</a></p>
<p>Thank you</p>