<p style="color: green"><%= notice %></p>

<% if user_signed_in? %>
  <h1>Tasks</h1>

  <div class="d-flex justify-content-between mb-3">
    <div></div>
    <%= link_to "New Task", new_task_path, class: "btn btn-success" %>
  </div>

  <div id="tasks">
    <% @tasks.each do |task| %>
      <%= render task %>
    <% end %>
  </div>
<% end %>
