<%# <br> %>
<%# <div class="alert alert-success alert-dismissible fade show" role="alert">
    <%= notice %>
<%# </div> %>

<div class="container mt-5">
  <div class="row">
    

    <%= render partial: 'task', collection: @tasks, as: :task %>
  </div>
</div>
