<div class="hero-section ml-5 mr-5 mt-3">
  <div class="row flex-lg-row-reverse align-items-center g-5">
    <!-- Image Column -->
    <div class="col-12 col-lg-6 d-flex justify-content-center align-items-center mb-4 mb-lg-5">
      <%= image_tag('pictures/file.png', alt: 'Bootstrap Themes', width: "100%", height: "90%", loading: 'lazy', class: 'img-fluid') %>
    </div>
    
    <!-- Text Column -->
    <div class="col-12 col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3 font">Master Your Day with Effortless Task Management</h1>
      <p class="font-small">Unlock productivity with our powerful to-do app. Enjoy seamless task tracking, smart notifications, and deadline reminders. Let's get things done!</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <%if user_signed_in? %>
          <%= link_to "Get Started", tasks_path, class: "btn btn-lg px-4 get-started", style: "background-color: #42647D; color: white;" %>
        <%else%>
          <%= link_to "Get Started", new_user_session_path, class: "btn btn-lg px-4 get-started", style: "background-color: #42647D; color: white;" %>
      <%end%>



      </div>
    </div>
  </div>
</div>
