<div class = "container">
    <div class = "row">
        <div class = "col-lg-6 col-md-12 col-sm-12">
            <%# left  %>

        </div>
        <div class = "col-lg-6 col-md-12 col-sm-12">
            <%# right  %>
            <%= image_tag('pictures/hero_section.jpeg', alt: 'Bootstrap Themes', width: 800, height: 500, loading: 'lazy', class: 'd-block mx-lg-auto img-fluid') %>
        </div>
    </div>
</div>