.container {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  height: 100%;
  padding: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  background-color:   #C9C2C3 ;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
  overflow: hidden; 
}

.image-container {
  display: none;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.form-content {
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.hint {
  font-size: 12px;
  color: #666;
  margin-top: 5px;
}

.button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #42647D;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: #2E4A61;
}

@media (min-width: 768px) {
  .form-container {
    flex-direction: row;
    max-width: 800px;
  }

  .image-container {
    display: flex;
    flex: 1;
    height: auto; 
  }

  .form-content {
    flex: 1;
    padding: 20px;
    height: auto; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
  }
}