

.body{
    background-color: #F7E7DC;
    font-family: "Poppins", sans-serif;
}
.navbar-brand:hover {
  color: #fff;
}
.font
{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
<<<<<<< HEAD
  font-size: 4vw;
=======
  font-size: 3vw;
>>>>>>> e833fd3302f081aa03f0d785543041340fdc47a5
  color: black;
}
.btn
{
  background-color: #42647D;
}
.font-small
{
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 2vw;
  color: #42647D;
<<<<<<< HEAD
=======
}
.navbar-brand:hover {
  color: #fff;
>>>>>>> e833fd3302f081aa03f0d785543041340fdc47a5
}
.navbar-nav {
    display: flex;
    flex-wrap: wrap;
  }
  
  .nav-link.custom-underline {
    position: relative;
    margin-right: 20px; 
    display: inline-block; 
    color: #fff; 
  }
  
  .nav-link.custom-underline::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -5px; 
    height: 3px; 
    width: 0;
    background-color: #fff; 
    transition: width 0.3s ease;
  }
  
  .nav-link.custom-underline:hover::after {
    width: 100%;
  }
  .nav-link{
    color: azure;
  }
  .nav-link::after{
    color: azure;
  }
  .navbar-brand
  {
    color: azure;
  }
<<<<<<< HEAD

=======
<<<<<<< HEAD

=======
  /* .custom-toggler.navbar-toggler {
    border-color: rgb(255,102,203);
  }  */
>>>>>>> origin/main
>>>>>>> e833fd3302f081aa03f0d785543041340fdc47a5
  @media (max-width: 768px) {
    .nav-link.custom-underline {
      margin-right: 10px; 
    }
  }


  
  